.shiny, .sparkling {
    color: #fff0bc;
}

.big, .giant {
    color: #8bff89;
}

.aurora {
    color: #4effd9;
}

.heavenly {
    color: #fff8c5;
}

.subspace {
    color: #ff00c8;
}

.mythical {
    color: #ff5294;
}

.greedy {
    color: #ffc226;
}
.sunken {
    color: #175dff;
}

